body, html{
    background-color: black;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font-family: monospace;
}

.header{
    margin: 15px;
    font-size: 20px;
}

.main{
    display: flex;
    min-height: calc(100vh - (50px + 41px));
    justify-content: center;
}

.archive-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
}


.main img {
    width: 400px;
    height: auto;
    margin: 5px 5px;

}

@media only screen and (max-width: 400px) {
    .main img {
        width: 90vw;
    }
}

img:hover {
    transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -webkit-transition: transform 0.2s;
    -moz-transition:transform 0.2s;
    -ms-transition:transform 0.2s;
    }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px white;
    margin-top: 15px;
    margin-bottom: 5px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

.selected a{
    text-decoration: underline ;
}

.footer img{
    height: 25px;
    width: auto;
}

.footerwrapper{
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}